<% include ./partials/header %>
    <div class="row">
        <div class="col-md-12">
            <form class="form-signin" action="/register" method="POST">
              <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
              <label for="inputUsername" class="sr-only">Username</label>
              <input type="text" id="inputUsername" class="form-control" name="username" placeholder="username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" name="password" placeholder="password" minlength="8" required>
              <label for="firstName" class="sr-only">Firstname</label>
              <input type="text" id="firstName" class="form-control" name="firstName" placeholder="firstname" required >
              <label for="lastName" class="sr-only">Lastname</label>
              <input type="text" id="lastName" class="form-control" name="lastName" placeholder="lastname" required >
              <label for="email" class="sr-only">Email</label>
              <input type="email" id="email" class="form-control" name="email" placeholder="email" required >
              <label for="avatar" class="sr-only">Avatar</label>
              <input type="text" id="avatar" class="form-control" name="avatar" placeholder="avatar image url (optional)" >
              <label for="inputadminCode" class="sr-only">Admincode</label>
              <input type="text" id="inputadminCode" class="form-control" name="adminCode" placeholder="admin code (optional)" >

              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            </form>
            <div class="form-signin">
                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
<% include ./partials/footer %>